* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #444;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}